/* ----------------------------------
 * Generic admin styles
 * ---------------------------------- */

.cp__h1 {
    margin-top: 0.8em;
}

.cp__h2 {
    border-top: 1px solid #000;
    margin-right: 1em;
    margin-top: 2em;
    padding: 0.5em 0;
}

.template {
    display: none;
}

a {
    outline: none;
}

/* ----------------------------------
 * Button styles
 * ---------------------------------- */

.cp--button {
    background-color: #444;
    border: 0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: block;
    padding: .25em;
    text-align: center;
    text-decoration: none;
    width: 7em;
}

.cp--button:hover,
.cp--button:focus {
    background-color: #222;
    color: #fff;
}

.cp__input--submit {
    background-color: #900;
    margin-top: 4em;
    width: 10em;
}

.cp__input--submit:hover,
.cp__input--submit:focus {
    background-color: #700;
}

/* ----------------------------------
 * Primary color admin form styles
 * ---------------------------------- */

.cp-colors {
    margin: 1em 0;
}

.cp-colors label {
    display: inline-block;
    font-weight: bold;
    position: relative;
    top: -2px;
    width: 5em;
}

.cp--add {
    margin: 1em 0 1em 6em;
}

.cp--del {
    color: #f00;
    font-weight: bold;
    text-decoration: none;
}