/**
 * Primary color blocks
 */

.primary-color {
  color: $black;
  float: left;
  margin: 2rem 0;
  text-align: center;
  width: 20rem;

  .swatch {
    border-radius: 75px;
    height: 150px;
    margin: 0 auto 1rem;
    width: 150px;
  }

  p {
    margin: 0;
  }
}
