/* ----------------------------------
 * General styles for color sections
 * ---------------------------------- */

.colors__section {
    display: inline-block;
    margin-bottom: 2em;
    width: 100%;
}

/* ----------------------------------
 * Individual primary color blocks
 * ---------------------------------- */

.primary-color {
    color: #000;
    float: left;
    margin-top: 3em;
    text-align: center;
    width: 20em;
}

.primary-color__p {
    margin: 0;
}

.primary-color__div--swatch {
    border-radius: 75px;
    height: 150px;
    margin: 0 auto 1em;
    width: 150px;
}

/* ----------------------------------
 * Individual aux color blocks
 * ---------------------------------- */

.tints {
    color: #000;
    float: left;
    margin: 1em 1em 0;
    width: 20em;
}

.tints--dark {
    color: #fff;
}

.tints__header {
    margin: 0;
    padding: 0.5em 1em;
    text-align: center;
}

.tints__div {
    background: #fff; 
}

.tints__p {
    margin: 0;
}

.tints__p--tint {
    margin: 0;
    padding: 0.5em;
    text-align: center;
}
