/**
 * EDITOR STYLES: Color
 */

$white: #fff;
$gray:  darken( $white, 20% );

.block-editor-inner-blocks {
  .cp-color {
    p {
      font-size: 0.85rem;
      margin: 0 0.25rem 0.5rem;
    }
  }

  .cp-color-name {
    input.components-text-control__input {
      border-color: $gray;
      font-size: 0.85rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
}


/**
 * Stylized card color display.
 */

.cp-palette.is-style-stylized-card {
  .block-editor-inner-blocks {
    .cp-color {
      p {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }

      .cp-color-hex {
        font-size: 1rem;
        padding-bottom: 1rem;
        padding-top: 0.5rem;
      }
    }
  }
}
