/**
 * FRONT-END STYLES: Color
 */

$black: #000;
$white: #fff;
$gray:  darken( $white, 20% );

.cp-color {
  border: 1px solid $gray;
  border-radius: 0.25rem;
  color: $black;
  margin-bottom: 2rem;
  padding: 2px;

  .swatch {
    border-radius: 0.25rem;
    padding: 25% 50%;
  }

  p {
    font-size: 0.85rem;
    margin: 0;

    &:first-of-type {
      padding-top: 0.5rem;
    }

    // Need the class here for specificity.
    &.cp-color-name,
    &.cp-color-hex,
    &.cp-color-rgb,
    &.cp-color-cmyk {
      line-height: 2;
    }
  }

  .cp-color-name {
    font-weight: bold;
  }
}


/**
 * Options on the palette to hide color codes.
 */

.cp-colors {
  &.hide-hex .cp-color-hex { display: none; }
  &.hide-rgb .cp-color-rgb { display: none; }
  &.hide-cmyk .cp-color-cmyk { display: none; }
}


/**
 * Stylized card color display.
 */

.cp-palette.is-style-stylized-card .cp-color {
  border: 0;
  border-radius: 0;
  box-shadow: 2px 2px 4px $gray;
  padding: 0;

  p {
    font-family: sans-serif;
    font-size: 1.1rem;
    padding: 0 1.5rem;
  }

  .swatch {
    border-radius: 0;
    padding: 40% 50%;
  }

  .cp-color-name {
    font-size: 1.4rem;
    padding-top: 1rem;
  }

  .cp-color-hex {
    border-bottom: 1px solid $gray;
    line-height: 1;
    padding-bottom: 2rem;
  }

  .cp-color-rgb {
    line-height: 1.2;
    padding-top: 1.5rem;
  }

  .cp-color-cmyk {
    padding-bottom: 1rem;
  }

}


/**
 * Circle color display.
 */

.cp-palette.is-style-circle .cp-color {
  border: 0;
  border-radius: 0;
  padding: 0;

  .swatch {
    border-radius: 50%;
    padding: 50% 50%;
  }

  p {
    font-family: sans-serif;
    font-size: 1.1rem;
    text-align: center;
  }

  .cp-color-name {
    font-size: 1.4rem;
    padding-top: 1rem;
  }
}
