/**
 * EDITOR STYLES: Colors
 */

.block-editor {

  .cp-colors {
    display: block;

    .editor-block-list__layout,
    .block-editor-block-list__layout {
      display: grid;
      grid-column-gap: 2rem;
      grid-template-columns: repeat( 3, 1fr );
    }
  }


  /**
   * Circle color display.
   */

  .cp-palette.is-style-circle .cp-colors {
    display: block;

    .editor-block-list__layout,
    .block-editor-block-list__layout {
      grid-column-gap: 4rem;
      grid-template-columns: repeat( 3, 1fr );
    }

    .components-text-control__input {
      text-align: center;
    }
  }

}
