/* ---
 * Colors
 */

$black: #000;
$white: #fff;

/* ---
 * General styles for color sections
 */

.section-palette {
  display: inline-block;
  margin-bottom: 2rem;
}

/* ---
 * Primary color blocks
 */

.primary-color {
  color: $black;
  float: left;
  margin: 2rem 0;
  text-align: center;
  width: 20rem;

  .swatch {
    border-radius: 75px;
    height: 150px;
    margin: 0 auto 1rem;
    width: 150px;
  }

  p {
    margin: 0;
  }
}

/* ----------------------------------
 * Accent color blocks
 * ---------------------------------- */

.accent-colors {
  color: $black;
  float: left;
  margin: 1em 1em 0;
  width: 20em;

  &.dark {
    color: $white;
  }

  .main {
    margin: 0;
    padding: 0.5em 1em;
    text-align: center;

    p {
      margin: 0;
    }
  }

  .gradient {
    background: $white;

    p {
      margin: 0;
      padding: 0.5em;
      text-align: center;
    }
  }
}
